<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>A-MAX</title>
<link href="~/theme/css/bootstrap.min.css" rel="stylesheet">
<link href="~/theme/css/all.min.css" rel="stylesheet">
<link href="~/theme/css/style.css" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet">

<link href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/lib/selectize/selectize.css" rel="stylesheet">

