    table tbody td{
        border-width: 1px !important;
    }

    .locations .border {
        max-height: 300px !important;
        min-height: 300px !important;
    }

    .floating-panel-wrapper {
        position: fixed;
        width: 100%;
        height: 100vh;
    }

        .floating-panel-wrapper .floating-panel {
            display: blocked;
            position: fixed;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            padding: 2px;
        }

    .floating-panel-wrapper ul {
        list-style-type: none;
        padding: 0;
    }

    .floating-panel-wrapper ul li {
        padding: 10px;
        margin-bottom: 5px;
        background-color: #f0f0f0;
        border-radius: 5px;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
        min-width: 160px;
        cursor: pointer;
    }

    .floating-panel-wrapper ul li:hover {
        background-color: #e0e0e0;
    }

    .selectize-control .clear {
        padding-right: 25px;
    }

.listbox-container ul li{
    cursor:pointer;
}

.grid-action-btn{
    margin-right: 2px;
}