[Unit]
Description=.NET 6 Shirts Web API

[Service]
WorkingDirectory=/home/ubuntu/dotnet-ci-cd/
ExecStart=/usr/bin/dotnet /home/ubuntu/dotnet-ci-cd/Solution.WebAPI.dll
Restart=always
# Restart service after 10 seconds when dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=webapi
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:80

[Install]
WantedBy=multi-user.target
